@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/Rockwell-ExtraBold.otf');
}

 body {
        width: 100%;
        height: 100%;
     overflow: hidden; 
      }
  #src {
        position: relative;
        width: 100%;
        height: 100%;
      padding-top: 56.25%; 
      }


.splash {
    background-color: white;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 600ms;
}

.hidden {
    transition: 0.5s;
    display: none;
}


.btn {
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

#cont {
    font-family: 'Rockwell';
    font-weight: bold;
    font-size: 90px;
    position: absolute;
    left: 38%;
    top: 17%;

    text-align: center;
}

#img {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-49%, -70%);
    border-radius: 70px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
    padding-left: 150px;
    background-image: url('../image/splash_image.png');
    background-size: cover;
    background-position: center;
}

#kcal {
    font-weight: bold;
    position: absolute;
    font-size:38px;
    top:-2%;
    left:3%;
}

#image1 {
    position: absolute;
    left: 30%;
    top: 16%;
    transform: translate(-49%, -70%);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    padding-left: 80px;
    background-image: url('../image/main_image1.png');
    background-size: cover;
    background-position: center;
}

#image2 {
    position: absolute;
    left: 50%;
    top: 15.5%;
    transform: translate(-49%, -70%);
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
    background-image: url('../image/main_image2.png');
    background-size: cover;
    background-position: center;
}

#image3 {
    position: absolute;
    left: 70%;
    top: 16%;
    transform: translate(-49%, -70%);
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
    background-image: url('../image/main_image3.png');
    background-size: cover;
    background-position: center;
}

/*
.checkbox {
    position: absolute;
    background-color: rgb(234, 234, 234);
    left: 24.6%;
    top: 25%;
    border-radius: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
}
*/

#check1 {
    background-image: url('../image/plus.png');
    background-position: center;
    background-size: cover;
    top:20%;
    left:25%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#check2 {
    background-image: url('../image/plus.png');
    background-position: center;
    background-size: cover;
    top:20%;
    left:31.5%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

#check3 {
    background-image: url('../image/plus.png');
    background-position: center;
    background-size: cover;
    top:20%;
    left:38%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.eat {
    position: absolute;
    font-size: 25px;
    top: 40%;
    left: 28%;
}

.info {
    position: absolute;
    top: 54%;
    left: 15%;
    background: black;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-right: 700px;
    padding-left: 700px;
    border-radius: 60px;
}

#info_kcal {
    position: absolute;
    top: 56%;
    left: 37%;
    background-color: white;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 150px;
    padding-left: 150px;
    font-weight: bold;
    font-family: 'Rockwell';
    font-size: 25px;
}

/* circle progress bar */


:root{
 --progress-value: 2000; 
 --max-value:2400;
}

.progress-bar {
  display: flex;
  position: absolute;
  top:61%;
  left:27%;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, black 60%, transparent 61% 100%),
    conic-gradient(rgb(255,111,111) calc(var(--progress-value) / var(--max-value)*100 * 1%), rgb(104,104,104) 0);
  animation: progress 2s 1 forwards;   
}

.progress-bar::before {
  color:white;
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) ' kcal';
  animation: progress 2s 1 forwards;
}

/* progress bar */

#barp{
    position: absolute;
    top:64%;
    left:52%;
    height: 20px;
    width:580px;
    appearance:none;
}

#barp::-webkit-progress-bar{
    border-radius:10px;
    background:white;
}

#barp::-webkit-progress-value{
    border-radius:10px;
    background:rgb(128,202,255);
}

#bp2{
    appearance:none;
    position: absolute;
    top:64.5%;
    left:52%;
    height: 20px;
    width:580px;
    margin-top:30px;
}
#bp2::-webkit-progress-bar{
    border-radius:10px;
    background:white;
}

#bp2::-webkit-progress-value{
    border-radius:10px;
    background:rgb(146,224,133);
}

#bp3{
    appearance:none;
    position: absolute;
    top:65%;
    left:52%;
    height: 20px;
    width:580px;
    margin-top:60px;
}
#bp3::-webkit-progress-bar{
    border-radius:10px;
    background:white;
}

#bp3::-webkit-progress-value{
    border-radius:10px;
    background:rgb(255,217,102);
}

#bp4{
    appearance:none;
    position: absolute;
    top:66%;
    left:52%;
    height: 20px;
    width:580px;
    margin-top:90px;
}
#bp4::-webkit-progress-bar{
    border-radius:10px;
    background:white;
}

#bp4::-webkit-progress-value{
    border-radius:10px;
    background:rgb(248,163,255);
}

#bp5{
    appearance:none;
    position: absolute;
    top:67%;
    left:52%;
    height: 20px;
    width:580px;
    margin-top:120px;
}
#bp5::-webkit-progress-bar{
    border-radius:10px;
    background:white;
}

#bp5::-webkit-progress-value{
    border-radius:10px;
    background:rgb(163,172,255);
}

.names{
    position: absolute;
    top:50%;
    left:40%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
    font-size:25px;
    color:white;
}

/* ===================================== */
/* popup */

.btn_open{
    position: absolute;
    background-color: rgb(234, 234, 234);
    left: 24.6%;
    top: 25%;
    border-radius: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
}

.pop_wrap{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,.5);
}

.pop_wrap:after{
    display: inline-block;
    height:100%;
    vertical-align: middle;
    content: '';
}

.pop_wrap .pop_inner{
    display: inline-block;
    position: absolute;
    top:8%;
    left: 10%;
    padding-top: 500px;
    padding-bottom: 300px;
    padding-left: 740px;
    padding-right: 600px;
    background: #fff;
    width:200px;
}

.hed{
    position: absolute;
    top:3%;
    left:39%;
    font-weight: bold;
    font-size: 40px;
    
}

.bod{
    position: absolute;
    top:15%;
    left: 34%;
    padding-top: 70px;
    padding-bottom: 550px;
    padding-left: 50px;
    padding-right: 500px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px gray inset;
}

.im{
    position: absolute;
    top:2%;
    left:20%;
    background-image: url('../image/eat.png');
    background-position: center;
    background-size: 200px 200px 130px 130px;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 170px;
    padding-right: 170px;
}

.h{
    position: fixed;
    width:550px;
    left: 37.3%;
    text-align: center;
    margin-top:240px;
    font-size:33px;
}

.u{
    position: fixed;
    top:58%;
    left: 45%;
    font-size: 25px;
}

.btn_close{
    position: absolute;
    top:91%;
    left:47%;
    font-size:25px;
}

.inf{
    position: absolute;
    top:54%;
    left:43%;
    font-size: 20px;
}

li:nth-child(1)::marker{
    color:rgb(128,202,255);
}

li:nth-child(2)::marker{
    color:rgb(146,224,133);
}

li:nth-child(3)::marker{
    color:rgb(255,217,102);
}

li:nth-child(4)::marker{
    color:rgb(248,163,255);
}

li:nth-child(5)::marker{
    color:rgb(163,172,255);
}

#return{
    cursor: pointer;
    position: absolute;
    right:3%;
    top:1%;
    font-size:30px;
    background-color: rgb(48,94,58);
    color:white;
    padding: 10px;
    border-radius: 10px;
}